body {
  background-color: #333;
  margin: 0;
  padding: 2.5rem;
  color: #fff;
  font-family: "Merriweather", serif;
  transition: background 5s ease;
}

body.theme_one {
  background-color: #333;
}
body.theme_two {
  background-color: #df4e4e;
}
body.theme_three {
  background-color: #47427d;
}
body.theme_four {
  background-color: #308645;
}
body.theme_five {
  background-color: #cc6c08;
}

a,
a:visited {
  color: #fff;
}
a:hover {
  color: #ddd;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 5.6rem;
}

ul {
  list-style-type: none;
  margin: 100px 0 100px 0;
  padding: 0;
  display: block;
}

ul.work li {
  margin-top: 3.125rem;
}
ul.work li span {
  margin-top: 0.613rem;
  display: inline-block;
}

ul.work h3 {
  font-size: 3.125rem;
}

ul.work p {
  font-size: 1.875rem;
  padding: 0;
  margin: 0;
  color: #ccc;
  font-weight: 300;
  transition: color 5s ease;
}

.theme_two ul p,
.theme_five ul p {
  color: #fff;
}

ul.social li {
  font-size: 1.3625rem;
  color: #a5a5a5;
  padding-top: 0.625rem;
}

@media (max-width: 1000px) {
  h1,
  h2 {
    font-size: 4.375rem;
  }
}

@media (max-width: 800px) {
  h1,
  h2 {
    font-size: 3.125rem;
  }
}

@media (max-width: 500px) {
  ul h3 {
    font-size: 2.375rem;
  }
  ul p {
    font-size: 1.75rem;
  }
}
